* {
 margin: 0;
 font-family: sans-serif;

}

body{
    background-color: #00296b ;
}
.tarjetas{
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
    margin: 40px;
}

.tarjetas section{
    margin: 10px 0px 10px 0px;
    width: 400px;
    height: 350px;
    border-radius: 10px;
    padding: 40px 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    text-align: center;
}

form {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
    width:80%;
   
}

input{
    width: 80%;
    height: 40px;
    margin: 5px 0px 5px 0px;
    border-radius: 15px;
    border: none;
    text-align: center;
    
}

button{
    width:80% ;
    height: 25px;
    margin: 5px 0px 5px 0px;
    border-radius: 5px;
    border: none;
    
    
}

.tarjetas h2 {
    color: snow;
    text-align: center;
    font-size: 25px;
    padding-bottom: 10px;
}

h1 {
    display: flex;
    color: white;
    justify-content: center;
    font-size: 45px;
    padding: 20px 0px 10px 0px ;
    font-weight: bold;
}

h2 {
    display: flex;
    color:white;
    justify-content: center;
    font-size: 15px;
    
}

.Cuadrado {
    
    background-color:#ff595e;
    
}

.Cuadrado form{
    height: 40%;
    display: flex;
    justify-content: space-evenly;
}



#inputCuadrado{
    
    align-items: center;
}


.triangulo{
   
   background-color: #fa9500;
    
}

.circulo {
    
    background-color: #1982c4;
   
}